# Backend API
EXPO_PUBLIC_API_URL=

# Keycloak (auth)
EXPO_PUBLIC_KEYCLOAK_URL=
EXPO_PUBLIC_KEYCLOAK_CLIENT_ID=
EXPO_PUBLIC_KEYCLOAK_ACCOUNT_CONSOLE=

# Stripe
EXPO_PUBLIC_STRIPE_API_URL=
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=
